/**
 *  box-sizing reset
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
html {
  box-sizing: border-box;
}
*, 
*::before,
*::after {
  box-sizing: inherit;
}
.content-box {
  box-sizing: content-box;
}
/**
 *  clearfix
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/**
 *  unselectable
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
 .unselectable {
   user-select: none;
 }
