/**
 *  box-sizing reset
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
html {
  box-sizing: border-box;
}
*, 
*::before,
*::after {
  box-sizing: inherit;
}
.content-box {
  box-sizing: content-box;
}
/**
 *  clearfix
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/**
 *  unselectable
 *  source from https://30-seconds.github.io/30-seconds-of-css/
 */
.unselectable {
  user-select: none;
}
/**
 *  donut-spinner
 *  source from https://30-seconds.github.io/30-seconds-of-css/#donut-spinner
 */
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
/**
 *  flexbox 
 */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.main-center {
  justify-content: center;
}
.cross-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.no-shrink {
  flex-shrink: 0;
}